<p>jan works!</p>

<mat-card>
  <mat-card-header><h2>Foto 1</h2></mat-card-header>
  <mat-card-content><img class="card-image" src="assets/pictures/jan/high/wasserhahn_vorher.jpg"/></mat-card-content>
  <mat-card-footer>ISO:<br/>Blende:</mat-card-footer>
</mat-card>

<div id="slider" class="beer-slider" data-beer-label="before">
  <img src="assets/pictures/jan/high/wasserhahn_vorher.jpg" alt="">
  <div class="beer-reveal" data-beer-label="after">
    <img src="assets/pictures/jan/high/wasserhahn_nachher.jpg" alt="">
  </div>
</div>

<script>new BeerSlider(document.getElementById('slider'));</script>
