<mat-card style="max-width: 30%; margin: 50px" *ngFor="let picture of enabledPictures">
  <mat-card-header>
    <mat-card-title>{{picture.title}}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="padding: 5px">
    <div [id]="picture.filename + '-slider'" class="beer-slider" data-beer-label="Original" data-beer-start="50">
      <img [src]="'assets/pictures/janic/unbearbeitet/' + picture.filename + '.jpg'"  alt="Original">
      <div class="beer-reveal" data-beer-label="Bearbeitet">
        <img [src]="'assets/pictures/janic/bearbeitet/' + picture.filename + '.jpg'" alt="Bearbeitet">
      </div>
    </div>
  </mat-card-content>
  <mat-card-content>
    ISO: {{picture.iso}}<br/>Blende: {{picture.blende}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><mat-icon>launch</mat-icon></button>
  </mat-card-actions>
</mat-card>
