<mat-tab-group #tabGroup (selectedTabChange)="initCollection($event)">
  <mat-tab [label]="collection.autor" *ngFor="let collection of collections; let index = index">
      <div style="margin: 20px">
        <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="space-evenly center" fxLayoutAlign.gt-md="space-evenly center" fxLayoutGap="25px">
        <mat-card style="min-width: 350px; min-height: 450px" *ngFor="let picture of collection.pictures">
          <mat-card-header>
            <mat-card-title>{{picture.title}}</mat-card-title>
            <button style="position: absolute; right: 10px;" mat-icon-button (click)="openFullscreenDialog(collection.path, picture.filename)"><mat-icon>fullscreen</mat-icon></button>
          </mat-card-header>
          <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <p>Bearbeitet</p>
                <p>Original</p>
              </div>
              <div [id]="picture.filename + '-slider'" class="beer-slider" data-beer-start="50">
                <img (load)="onLoad(picture, true)" [src]="'assets/pictures/' + collection.path + '/unbearbeitet/' + picture.filename + '.jpg'"  alt="Original">
                <div class="beer-reveal">
                  <img (load)="onLoad(picture, false)" [src]="'assets/pictures/' + collection.path + '/bearbeitet/' + picture.filename + '.jpg'" alt="Bearbeitet">
                </div>
              </div>
            <mat-progress-bar style="float: right" *ngIf="!pictureLoaded(picture)" mode="indeterminate"></mat-progress-bar>
          </mat-card-content>
          <mat-card-content>
            ISO: {{picture.iso === '' ? 'unknown' : picture.iso}}
            <br/>
            Blende: {{picture.blende === '' ? 'unknown' : picture.blende}}
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
